extends layout

block prepend title
	= page.title + " | "

block prepend content

	- var map = {"ae":"ä", "oe":"ö", "ue":"ü"}

	ul.sidebar
		each value, filename in contents
			if /.*\.md$/gi.test(filename) && page.metadata.category === value.metadata.category

				className = null

				if value.metadata.available === false
					className = "coming_soon"

				name = filename.slice(0,-3)
				escName = name

				each umlaut, ligature in map
					- escName = escName.replace(ligature, umlaut)

				if name === 'steuerung'
					- escName = 'Steuerung'

				li
					a(href=name, class=className)
						= escName[0].toUpperCase() + escName.slice(1)

	.text(id=page.title.toLowerCase())

		if page.metadata.available === false
			each umlaut, ligature in map
				escTitle = page.title.replace(ligature, umlaut)
				h2= escTitle[0].toUpperCase() + escTitle.slice(1)
				hr
				h3 Diese Seite ist bald verfügbar!

		block text
			!= page.html

		date = new Date(page.date).toISOString().substr(0,10)
		hr
		#modified Letzte Bearbeitung: #{date}

	#ad_right
		script.
			google_ad_client = "ca-pub-4448485104158739";
			/* Schifferpatent Rechts */
			google_ad_slot = "9351896398";
			google_ad_width = 120;
			google_ad_height = 600;

		script(src="http://pagead2.googlesyndication.com/pagead/show_ads.js")
