extends layout

block prepend title
	| #{ page.title + " | "}

block prepend content
	#questions

		include ../images/fragen/build/svg/defs.svg

		!= page.html

		table#questionstable
			each item, index in page.metadata.questions
					tr
						td= index + 1
						td
							!= item.q
							if item.img
								br
								svg(
								viewBox='0 0 150 100',
								xmlns="http://www.w3.org/2000/svg",
								xmlns:xlink="http://www.w3.org/1999/xlink"
								)
									defs
										marker#endMarkerArrow(
										markerWidth=4,
										markerHeight=4,
										refX=2,
										refY=2,
										orient='auto'
										)
											path(d='M0,0 L4,2 L0,4 z')

										marker#startMarkerArrow(
										markerWidth=4,
										markerHeight=4,
										refX=2,
										refY=2,
										orient='auto'
										)
											path(d='M4,0 L0,2 L4,4 z')

									use(xlink:href='#img' + (index+1))

						td= item.a

		hr
		#modified.
			Letzte Bearbeitung: #{new Date(page.date).toISOString().substr(0,10)}
